* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Inter, sans-serif;
	height: 100vh;
	background: #282d35;
}

.navbar {
	display: flex;
	align-items: center;
	background: #21222a;
	height: 90px;
	padding: 30px 25px;
}

.react-logo {
	pointer-events: none;
	width: 30px;
	height: 30px;
	top: 31px;
	left: 26px;
	padding: 2.21px, 0.62px, 2.21px, 0.62px;
	margin-right: 7px;
}

.navbar-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: -0.05em;
	text-align: left;
	color: #61dafb;
	margin-right: auto;
}

.navbar-content {
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: right;
	color: #deebf8;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	height: 100%;
	padding: 57px 27px;
	color: #ffffff;
	background-image: url(./assets/react-icon-large.png);
	background-repeat: no-repeat;
	background-position: right 75%;
}

.main-title {
	margin: 0;
	font-size: 39px;
	font-weight: 700;
	line-height: 47px;
	letter-spacing: -0.05em;
	text-align: left;
}

.bullet-list {
	margin-top: 46px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.bullet-list > li {
	/* list-style-image: url(./assets/ellipse-1.png); */
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	padding-block: 10px;
}

.bullet-list > li::marker {
	font-size: 1.4rem;
	color: #61dafb;
}
